.welcome {
    display: none;
    padding-top: 10px;
    padding-bottom: 10px;
    border: solid black 2px;
    background-color: rgb(80, 11, 80);
    color: white;
    font-family: 'Times New Roman', Times, serif;
    display: inline-block;
    height: 75px;
    width: 250px;
}

.label {
    font-family: Arial, Helvetica, sans-serif;
    color: blue;
}